<% comments.each do |comment| %>
<div class="card">
    <div class="card-body">
      <p class="card-text">NICKNAME: 　<%= comment.title %>様</p>
      <span class="card-text"><small>ご意見・ご感想<%= simple_format comment.body %></small>
    </span>
  </div>
<% end %>