<div class="container">
  <h1 class="txt-center">最強の係長のプロフィール</h1>
   <div class="pro_img">
   <%= image_tag'mac.jpg', size: '250x250' %>
   <%= image_tag'yome.jpeg', size: '250x250' %>
   <%= image_tag'shiro.jpg', size: '250x250' %>
   </div>
   <h2 class="txt-sub">プロフィール</h2>
<ul>
  <li>年齢：５１歳</li>
  <li>住まい：千葉県</li>
  <li>家族：嫁さんとワンコ１匹</li>
  <li>性格：これと決めたらやり切る！</li>
  <li>趣味：プログラミング</li>
  <li>目標：定年後家族で日本一周旅行！</li>
</ul>
＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿
　　　　　　　  <h2 class="title">生い立ち</h2> 

<ul>
  <li>18歳 高校卒業後</li>
  <p>調理師の専門学校に通うが夏休みに遊び呆けてしまって、夏休み後退学する</p>
  <P>その後バイト先のファミリーレストランで朝の6時から夜の11時まで働き詰める</P>
  <li>20歳　お金を手にして調子こく</li>
  <p>1年で120万円を貯めることができ、運転免許取得と70万円の中古を購入！</p>
  <p>車を買ったことを3ヶ月間、両親にも伝えておらず、その後ほぼ両親から放置される</p>
  <li>22歳　某輸入車メーカーに就職</li>
  <p>自動車会社にに入社した理由: 中古車販売店で勤めていた友人のところに遊びに行ったところ</p>
  <p>自動車を査定している友達の姿がカッコ良かったから。　ただそれだけです</p>
  <li>30歳で店長に昇格</li>
  <P>ミレニアム時期に入っており、不景気な最中の店長昇格のため、世間の厳しい風当たりに合う</P>
  <p>あの時期に戻りたくはないが、今となってはあの経験があったからこそ強いメンタルも養われたのだと思う</p>
  <li>37歳で退職</li>
  <P>いよいよ日本における輸入車自動車会社の限界を知り、退職を決断！ かなり悩みました</P>
  <li>退職から無職の生活を3ヶ月味わう</li>
  <p>人生初めて長期連休というのを味わう！　当時ハマっていたゴルフにうつつを抜かしてしまう</p>
  <P>退職金と失業保険を頼りに遊びほうける</P>
  <li>38歳いよいよ再就職!!</li>
  <P>以前より興味があった通信会社に就職。東京の赤坂見附まで電車通勤するが</P>
  <p>満員電車になれず挫折！　やはり自動車業界に復帰をしたい欲が出てしまい</p>
  <p>半年で退職をする。</p>
  <li>40歳手前で再々就職活動！</li>
  <p>もう転職をするのはタイムリミットの39歳！　自動車ディーラーに再就職を希望していたので</p>
  <p>毎日、職業安定所に通い、パソコンと睨めっこする日々を暮らす。</p>
  <P>そんなこんなで職安に通い詰めて約２ヶ月目で今の会社に就職することができる　良かった！！</P>
  <li>44際で初婚！</li>　
  <p>なんと19歳の離れた年の差婚を果たす！　その後35年ローンで一軒家を購入！</p>
  <p>長生きをしないといけないという責任感が今以上に湧いてきた！　新婚旅行は沖縄！　楽しかった！</p>
  <li>48歳で係長に昇格</li>
  <p>この歳になると会社からの要求は高い！　現場で営業として自動車を販売しつつ</p>
  <p>営業兼教育係長として、いかんなく今までの経験と知識を後輩に伝える役割を担う</p>
  <li>50歳プログラミングに出会う</li>
  <P>2020年コロナの影響で休日は読書に没頭。そんな中プログラミングに出会う</P>
  <p>8月にテックキャンプ入所　今に至る</p>
  
</ul>

</div>
 
