// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 2.428571;
    color: #333333;
    background-color: lightyellow;
}

.top-title{
    font-size: 20px;
    margin: 0px 0 -10px;
}

.bodysize{
    font-size: 16px;
}

.img-responsive {
  display: block;
  height: 220px;;
  max-width: 100%;
}

.img-fluid {
    display: block;
    max-width: 100%;
    height: 300px;
    
}

.col-md-3{
    display:flexbox;
    background-color: white;
    margin-left: 10px;
    padding-top: 10px;
    border: thick double #32a1ce;
    display: flexbox;
    flex-wrap: wrap;
    height: 366px;
    width: -1%;
}

.text-right{
    font-size: 12px;
}

.row{
    margin: 0 auto;
}

.btn-warning {
    color: #fff;
    background-color: coral;
    border-color: #eea236;
    margin-top: 10px;
    margin-left: 12px;
}