// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 2.428571;
    color: #333333;
    background-color: lightyellow;
}

.toptitle{
    font-size: 18px;
}

.bodysize{
    font-size: 20px;
}

