<div class="container">
  <h1 class="text-center">    </h1>
     <% @tests.each do |test| %>
       <div class="col-md-3">
          <%= link_to test do %>
            <%= attachment_image_tag test, :image, :fill, 250, 250, fallback: "no_image.jpg" %>
          <P class="title"><%= test.title %></P>
        </div>
    <% end %>
  <% end %>
 </div>
   

 