<div class="container">
  <div class="text-left"> 
    <% @tests.each do |test| %>
       <div class="col-md-3">
          <%= link_to test do %>
          <% if test.image.attached? %>
          <%= image_tag test.image, class: 'img-responsive center-block img-thumbnail'%>
          <% end %>
          <P class="top-title"><%= test.title %></P>
          </div>
       <% end %>
    　<% end %>
    　 <% if current_user && current_user.admin_flg %>
    <%= link_to'新規投稿',new_test_path %>
    <% end %>
    </div>
    </div>
   
    
   
    