<div class="container">
  <div class="text-left">    
    <% if user_signed_in? %>
      <%= link_to'新規投稿画面へ',new_test_path %>
      <% end %>
       </div>
        <% @tests.each do |test| %>
         <div class="col-md-3">
          <%= link_to test do %>
          <%= attachment_image_tag test, :image, :fill, 260, 260, fallback: "no_image.jpg" %>
          <P class="top-title"><%= test.title %></P>
        </div>
      <% end %>
    　<% end %>
    </div>
   

 